<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">UPDATE CATEGORY</h2>
                <form [formGroup]="form" (submit)="submit()">
                    <div class="input-group">
                        <input class="input--style-2" placeholder="Name" formControlName="name">
                    </div>
                    <div class="input-group">
                        <input class="input--style-2" placeholder="Title" formControlName="title">
                    </div>
                    <div class="p-t-30">
                        <button class="btn btn--radius btn--green" type="submit">Add</button>            
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="alert" [class.visible]="isError">
    Edit error
</div>

<div class="alert" [class.visible]="isSuccess">
    Edit success
</div>