<div class="breadcrumbs">
  <div class="container">
    <h1 class="breadcrumb-heading">Thanh toán</h1>
    <nav>
      <a href="./index.html">Trang chủ</a>
      <span class="divider">/</span>
      Thanh toán
    </nav>
  </div>
</div>
<form [formGroup]="form" (submit)="checkout()">
  <div class="row page-wrapper row-divided yproduct">
    <div class="col medium-12 small-12 large-7">
      <h3 class="container text-center">THÔNG TIN THANH TOÁN</h3>
      <div class="form-control">
        <label for="fullname">
          Họ và tên<span class="required">*</span>
        </label>
        <input type="text" formControlName="name" required />
      </div>
      <div class="form-control">
        <label for="phone">
          So dien thoai<span class="required">*</span>
        </label>
        <input formControlName="phone" type="number" required/>
      </div>
      <div class="form-control">
        <label for="address">
          Địa chỉ nhận hàng<span class="required">*</span>
        </label>
        <input formControlName="address" type="text" required/>
      </div>
    </div>
    <div class="col medium-12 small-12 large-5">
      <div class="cart-totals">
        <h3 class="text-center">ĐƠN HÀNG CỦA BẠN</h3>
        <table class="shop_table checkout-review-table">
          <thead>
            <tr>
              <th class="product-name">Sản phẩm</th>
              <th class="product-total">Tổng</th>
            </tr>
          </thead>
          <tfoot>
            <tr class="cart-subtotal">
              <th>Tạm tính</th>
              <td>
                <strong>
                  <span class="subtotal">{{totals}}</span>
                  <sup>đ</sup>
                </strong>
              </td>
            </tr>
            <tr class="shipping-totals shipping">
              <th>Phí vận chuyển</th>
              <td data-title="Shipping">
                <span class="price">{{shipping}} VNĐ</span>
              </td>
            </tr>
            <tr class="order-total">
              <th>Tổng</th>
              <td>
                <strong>
                  <span class="total">{{totalAll}}</span>
                  <sup>đ</sup>
                </strong>
              </td>
            </tr>
          </tfoot>
        </table>
        <div class="checkout-payment">
          <ul>
            <li class="payment_method" (change)="changeGender($event)">
              <input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" checked="checked"
                value="cash" data-order_button_text="" />
              <label for="payment_method_cod">
                Trả tiền mặt khi nhận hàng
              </label>
            </li>
            <li class="payment_method" (change)="changeGender($event)">
              <input id="payment_method_cod"  type="radio" class="input-radio" name="payment_method"
                value="paypal" data-order_button_text="" />
              <label for="payment_method_cod">
                Thanh toan bang Paypal
              </label>
            </li>
          </ul>
        </div>
        <!-- <div class="checkout-payment" #paypalRef></div> -->
        <div class="checkout-payment" id="myPaypalButton"></div>
        <div class="privacy-policy-text">
          <p>
            Dữ liệu cá nhân của bạn sẽ được sử dụng để xử lý đơn đặt hàng, hỗ
            trợ trải nghiệm của bạn trên toàn bộ trang web này và cho các mục
            đích khác được mô tả trong
            <a href="./chinh-sach.html" target="_blank">
              chính sách bảo mật
            </a>
            của chúng tôi
          </p>
        </div>
        <div class="proceed-to-checkout">
          <button type="submit" class="checkout-button button secondary">
            THANH TOÁN
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row nproduct" style="display: none">
  <div class="col medium-12 large-12 text-center">
    <p>Không có sản phẩm nào trong giỏ</p>
    <a href="./cua-hang.html" class="button primary">
      <span>Quay trở về của hàng</span>
    </a>
  </div>
</div>