<div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
                <div class="col-md-3 border-right">
                        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img
                                        class="rounded-circle mt-5" width="150px" [src]="handleImage(user.avatar)"><span
                                        class="font-weight-bold">{{user.fullName}}</span><span
                                        class="text-black-50">{{user.email}}</span><span>
                                </span></div>
                </div>
                <form class="col-md-5 border-right" [formGroup]="form" (ngSubmit)="submit()">
                        <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Profile Settings</h4>
                                </div>
                                <div class="row mt-6">
                                        <div class="col-md-12"><label class="labels">Username</label>
                                                <input type="text" class="form-control" [placeholder]="user.username" disabled>
                                        </div>
                                </div>
                                <div class="row mt-6">
                                        <div class="col-md-12"><label class="labels">Email</label>
                                                <input type="text" class="form-control" [placeholder]="user.email" disabled></div>
                                </div>
                                <div class="row mt-6">
                                        <div class="col-md-12"><label class="labels">Fullname</label>
                                                <input type="text" class="form-control" [placeholder]="user.fullName" formControlName="fullName"></div>
                                </div>
                                <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                                                type="submit">Save
                                                Profile</button></div>
                        </div>
                </form>
                <div class="col-md-4">
                        <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                                                Password</span><span class="border px-3 p-1 add-experience">
                                                <a (click)="updatePassword()">Save Password</a></span></div><br>
                                <div class="col-md-12"><label class="labels">Password Old</label><input type="text"
                                                class="form-control" placeholder="Password Old" [(ngModel)]="oldPass">
                                </div> <br>
                                <div class="col-md-12"><label class="labels">New Password</label><input type="text"
                                                class="form-control" placeholder="New Password" [(ngModel)]="newPass">
                                </div>
                        </div>
                        <div class="p-3 py-5">
                                <div class="d-flex justify-content-between align-items-center experience"><span>Edit
                                                Avatar</span><span class="border px-3 p-1 add-experience">
                                                <a (click)="updateAvatar()">Save Avatar</a></span></div><br>
                                <div class="row mt-6">
                                        <div class="col-md-12"><label class="labels">Update Avatar</label><input
                                                        type="file" class="form-control" (change)="uploadFile($event)">
                                        </div>
                                        <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:300px;">
                                </div>
                        </div>
                </div>
        </div>
</div>

<div class="alert" [class.visible]="isError">
        Update fail
</div>

<div class="alert" [class.visible]="isSuccess">
        Update success
</div>