<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="bg-gradient-primary">

	<div class="container" style="height: 800px">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
							<div class="col-lg-7">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
									</div>
									<form class="user" (submit)="doSignup()">
										<div class="form-group">
											<input type="email" class="form-control form-control-user"
												placeholder="Email" name='email' [(ngModel)]="email">
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												placeholder="Username" name='username' [(ngModel)]="username">
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-user"
												placeholder="Password" name='password' [(ngModel)]="password">
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-user"
												placeholder="Full Name" name='fullName' [(ngModel)]="fullName">
										</div>
										<div class="form-group">
											<label style="margin-right: 20px">Choose a role</label>
											<select (input)="onChangeRole($event)">
												<option *ngFor="let role of roles" [value]="role">
													{{role}}</option>
											</select>
										</div>
										<button type="submit" class="btn btn-primary btn-user btn-block">
											Register Account
										</button>
									</form>
									<hr>
									<a class="btn btn-google btn-user btn-block">
										<i class="fab fa-google fa-fw"></i> Register with Google
									</a>
									<a class="btn btn-facebook btn-user btn-block">
										<i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
									</a>

									<hr>
									<div class="text-center">
										<a class="small" routerLink="/login">Login</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="alert" [class.visible]="isError">
        Register fail
    </div>
</body>

</html>