<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables Categories</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Title</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let category of categories" class="table-info">
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.name }}</td>
                                        <td>{{ category.title }}</td>
                                        <td>
                                            <button class="btn btn-primary" (click)="onEditC(category.id)"
                                                style="margin-top:5px; margin-right: 5px; width: 80px; height: 50px;">Edit</button>
                                            <button class="btn btn-danger" (click)="onDeleteC(category.id)"
                                                style="margin-top:5px; width: 80px; height: 50px;">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

    <div class="alert" [class.visible]="isError">
        Delete fail
    </div>
    
    <div class="alert" [class.visible]="isSuccess">
        Delete success
    </div>
</div>
<!-- End of Page Wrapper -->