<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables Products</h6>
                    </div>
                    <div>
                        <label class="container_search">
                            <div class="div_left"><input type="search" class="form-control form-control-sm"
                                    placeholder="Seach" aria-control="dataTables" [(ngModel)]="namefind"></div>
                            <div class="div_right"><button (click)="findname(namefind)">Search</button></div>                           
                        </label>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Price</th>
                                        <th>Totals</th>
                                        <th>Image</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products" class="table-info">
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.category.name }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>{{ product.totals }}</td>
                                        <td><img [src]="handleImage(product.picByte)"
                                                style="height: 50px; width: 50px;">
                                        <td>
                                            <button class="btn btn-primary" (click)="onEditP(product.id)"
                                                style="margin-top:5px; margin-right: 5px; width: 80px; height: 50px;">Edit</button>
                                            <button class="btn btn-danger" (click)="onDeleteP(product.id)"
                                                style="margin-top:5px; width: 80px; height: 50px;">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

    <div class="alert" [class.visible]="isError">
        Delete fail
    </div>

    <div class="alert" [class.visible]="isSuccess">
        Delete success
    </div>

</div>
<!-- End of Page Wrapper -->