@import "../../../../assets/css/alert.css";

.container_search {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.div_left {
    float: left;
    text-align: right;
}

.div_right {
    float: right;
    text-align: center;
}