<div class="breadcrumbs">
  <div class="container">
    <h1 class="breadcrumb-heading">Giỏ Hàng</h1>
    <nav>
      <a href="./index.html">Trang chủ</a>
      <span class="divider">/</span>
      Giỏ Hàng
    </nav>
  </div>
</div>
<div class="row page-wrapper row-divided yproduct" *ngIf="checkCartItem">
  <div class="col medium-12 small-12 large-8">
    <table class="cart table-form shop_table" cellspacing="0">
      <thead>
        <tr>
          <th class="product-thumbnail"></th>
          <th>Hàng hóa</th>
          <th>Đơn giá</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let cart of carts; let i = index">
        <tr>
          <td><img [src]="handleImage(cart.product.picByte)" style="height: 50px; width: 50px;"></td>
          <td>{{cart.product.name}}</td>
          <td>{{cart.product.price}}</td>
          <td>{{cart.quantity}}</td>
          <td>{{total[i]}}</td>
          <td>
            <button style="background-color: white; color: black;
              border: none; margin-right: 10px;" (click)="minusTotals(cart.id, cart.quantity)">
              <h3>-</h3>
            </button>
            <button style="background-color: white; color: black;
              border: none; margin-left: 10px;" (click)="addTotals(cart.id, cart.quantity)">
              <h3>+</h3>
            </button>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col medium-12 small-12 large-4">
    <div class="cart-totals">
      <h3>TỔNG BẢNG GIÁ</h3>
      <table cellspacing="0" class="shop_table shop_table_responsive">
        <tbody>
          <tr class="cart-subtotal">
            <th>Tạm tính</th>
            <td>
              <strong>
                <span class="subtotal">{{totalAll}}</span>
                <sup>đ</sup>
              </strong>
            </td>
          </tr>
          <tr class="order-total">
            <th>Tổng</th>
            <td>
              <strong>
                <span class="total">{{totalAll}}</span>
                <sup>đ</sup>
              </strong>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="proceed-to-checkout">
        <a (click)="checkout()" class="checkout-button button secondary">
          ĐẶT HÀNG
        </a>
      </div>
      <div class="coupon">
        <input type="text" name="coupon_code" id="coupon_code" value="" placeholder="Coupon code" />
        <button type="submit" class="button primary" name="apply_coupon">
          ÁP DỤNG
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row nproduct" *ngIf="!checkCartItem">
  <div class="col medium-12 large-12 text-center">
    <p>Không có sản phẩm nào trong giỏ</p>
    <a (click)="backHome()" class="button primary">
      <span>Quay trở về của hàng</span>
    </a>
  </div>
</div>