<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">UPDATE PRODUCT</h2>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="input-group">
                        <input class="input--style-2" type="text" placeholder="Name" formControlName="name">
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-2" type="text" placeholder="Totals" formControlName="totals">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label style="margin-right: 30px">Category: {{category.name}}</label>
                                <select (input)="onChangeCategory($event)">
                                    <option [value]="category.id">{{category.name}}</option>
                                    <option [value]="value.id" *ngFor="let value of categories">{{value.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-2 js-datepicker" type="text" placeholder="Price" formControlName="price">
                                <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-2 js-datepicker" type="file" (change)="uploadFile($event)">
                                <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                <img [src]="imageSrc" style="height: 200px; width:300px;">
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn btn--radius btn--green" type="submit">Update</button>                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="alert" [class.visible]="isError">
    Edit error
</div>

<div class="alert" [class.visible]="isSuccess">
    Edit success
</div>