<html>

<body>
    <header id="header" class="header">
        <div id="top-bar" class="header-top">
            <div class="flex-row container">
                <div class="flex-col flex-left">
                    <ul class="nav social-icons">
                        <li><a><i class="fab fa-facebook-f"></i></a></li>
                        <li><a><i class="fab fa-twitter"></i></a></li>
                        <li><a><i class="fab fa-youtube"></i></a></li>
                        <li><a><i class="fab fa-instagram"></i></a></li>
                        <li><a><i class="fas fa-search"></i></a></li>
                    </ul>
                </div>
                <div class="flex-col flex-right">
                    <ul class="nav top-bar-nav">
                        <li><a routerLink="add-cart" class="mini-cart"><i class="fas fa-shopping-cart"
                                    data-count="0"></i> </a></li>
                        <li><a (click)="logOut()"><i class="fas fa-backward"></i> <span class="hide-for-small">Logout</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="header-main" class="header-main flex-row container">

            <div class="flex-col hide-for-medium flex-left">
                <div class="icon-box featured-box icon-box-left text-left">
                    <div class="icon-box-img">
                        <i class="fas fa-phone-alt" style="font-size: 32px;"></i>
                    </div>
                    <div class="icon-box-text">
                        <h4>Hotline (+84) 99999999</h4>
                        <p>E-mail : support@woovn.com</p>
                    </div>
                </div>
            </div>
            <div id="logo" class="flex-col logo">
                <a (click)="home()"><img src="../../../assets/img/logo.png" alt="logo"></a>
            </div>
            <div class="flex-col hide-for-medium flex-right">
                <div class="icon-box featured-box icon-box-left text-left">
                    <div class="icon-box-img">
                        <i class="fas fa-clock" style="font-size: 32px;"></i>
                    </div>
                    <div class="icon-box-text">
                        <h4>Thời gian làm việc:</h4>
                        <p>06:00 - 22:00 hàng ngày</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-bottom" class="header-bottom wide-nav flex-has-center">
            <div class="flex-row container">
                <div class="flex-col flex-center">
                    <ul class="nav header-nav header-bottom-nav">
                        <li><a routerLink="/userlayout/home">Trang chủ</a></li>
                        <li><a>Giới thiệu</a></li>
                        <li><a routerLink="/userlayout/products">Cửa hàng</a></li>
                        <li><a>FAQ</a></li>
                        <li><a>Chính sách</a></li>
                        <li><a>Tin tức</a></li>
                        <li><a routerLink="/userlayout/cart-history">Cart History</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
    <section id="news-letter">
        <div class="row row-collapse" style="align-items: center">
            <div class="col medium-12 small-12 large-6 hide-for-medium">
                <div class="col-inner">
                    <img src="../../../../assets/img/banner_newsletter.png" alt="Newsletter" />
                </div>
            </div>
            <div class="col medium-12 small-12 large-6">
                <div class="col-inner">
                    <form class="form-subscribe">
                        <div class="input-group">
                            <input type="text" placeholder="Your eamil address" required />
                            <span class="input-group-btn">
                                <button class="button secondary" type="submit">
                                    Đăng ký
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="row">
            <div class="col medium-6 small-12 large-3">
                <div class="col-inner contact">
                    <h5 class="text-center">Liên hệ</h5>
                    <div class="icon-box featured-box icon-box-left text-left">
                        <div class="icon-box-img">
                            <span class="box-diamond"> <i class="fas fa-phone-alt" style="font-size: 14px;"></i></span>
                        </div>
                        <div class="icon-box-text">
                            <p>Hotline:</p>
                            <p>(+84) 961174894</p>
                        </div>
                    </div>
                    <div class="icon-box featured-box icon-box-left text-left">
                        <div class="icon-box-img">
                            <span class="box-diamond"> <i class="fas fa-envelope" style="font-size: 14px;"></i></span>
                        </div>
                        <div class="icon-box-text">
                            <p>E-mail:</p>
                            <p>support@woovn.com</p>
                        </div>
                    </div>
                    <div class="icon-box featured-box icon-box-left text-left">
                        <div class="icon-box-img">
                            <span class="box-diamond"> <i class="fas fa-clock" style="font-size: 14px;"></i></span>
                        </div>
                        <div class="icon-box-text">
                            <p>Thời gian làm việc:</p>
                            <p>06:00 - 18:00 hàng ngày</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col medium-6 small-12 large-3 hide-for-medium">
                <div class="col-inner">
                    <h5 class="text-center">Liên kết</h5>
                    <ul>
                        <li class="text-center"><a>Cửa hàng</a></li>
                        <li class="text-center"><a>Dịch vụ</a></li>
                        <li class="text-center"><a>Chính sách</a></li>
                        <li class="text-center"><a>Câu hỏi thường gặp</a></li>
                        <li class="text-center"><a>Tin tức</a></li>
                        <li class="text-center"><a>Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col medium-6 small-12 large-3 hide-for-medium">
                <div class="col-inner">
                    <h5 class="text-center">Follow Us</h5>
                    <ul class="social-icons">
                        <li><a><i class="fab fa-facebook-f"></i>Facebook</a></li>
                        <li><a><i class="fab fa-twitter"></i>Twitter</a></li>
                        <li><a><i class="fab fa-youtube"></i>Youtube</a></li>
                        <li><a><i class="fab fa-instagram"></i>Instagram</a></li>
                    </ul>
                </div>
            </div>
            <div class="col medium-6 small-12 large-3">
                <div class="col-inner">
                    <h5 class="text-center">MAP</h5>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.281541581405!2d108.11218031526086!3d10.942092459104883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317683143e7bae9d%3A0xaefd8984ce71af22!2zVHLGsOG7nW5nIFRIUFQgQ2h1ecOqbiBUcuG6p24gSMawbmcgxJDhuqFv!5e0!3m2!1svi!2s!4v1611763060560!5m2!1svi!2s"
                        width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </footer>
    <div class="support-nav">
        <ul>
            <li><a href="https://www.google.com/maps?ll=10.942087,108.114369&z=15&t=m&hl=vi&gl=US&mapclient=embed&cid=12609385735199502114"
                    rel="nofollow" target="_blank"><i class="ticon-heart"></i>Tìm đường</a></li>
            <li><a href="https://zalo.me/0961174894" rel="nofollow" target="_blank"><i
                        class="ticon-zalo-circle2"></i>Chat
                    Zalo</a></li>
            <li class="phone-mobile">
                <a href="tel:0961174894" rel="nofollow" class="button">
                    <span class="phone_animation animation-shadow">
                        <i class="icon-phone-w" aria-hidden="true"></i>
                    </span>
                    <span class="btn_phone_txt">Gọi điện</span>
                </a>
            </li>
            <li><a href="https://www.messenger.com/t/nghia.l.t" rel="nofollow" target="_blank"><i
                        class="ticon-messenger"></i>Messenger</a></li>
            <li><a href="sms:0961174894" class="chat_animation">
                    <i class="ticon-chat-sms" aria-hidden="true" title="Nhắn tin sms"></i>
                    Nhắn tin SMS</a>
            </li>
        </ul>
    </div>
</body>

</html>