<div class="breadcrumbs">
    <div class="container">
        <h1 class="breadcrumb-heading">Cart History</h1>
    </div>
</div>
<div class="row page-wrapper row-divided yproduct">
    <div class="col medium-12 small-12 large-12">
        <table class="cart table-form shop_table" cellspacing="0">
            <thead>
                <tr>
                    <th class="product-thumbnail">#</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Thành tiền</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orderDetails">
                    <td>{{order.id}}</td>
                    <td>{{order.name}}</td>
                    <td>{{order.address}}</td>
                    <td>{{order.phone}}</td>
                    <td>{{order.totals}}$</td>
                    <td>{{getStatus(order.checkout)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>