<div class="breadcrumbs">
    <div class="container">
        <h1 class="breadcrumb-heading">Cửa hàng</h1>
        <nav>
            <a href="./index.html">Trang chủ</a>
            <span class="divider">/</span>
            Cửa hàng
        </nav>
    </div>
</div>
<div class="row page-wrapper">
    <div class="large-9 col-nop">
        <div class="container">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="item">
                        <img src="../../../../assets/img/slider-2.jpg" alt="Slider">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <img src="../../../../assets/img/slider-1.jpg" alt="Slider">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <img src="../../../../assets/img/slider-3.jpg" alt="Slider">
                    </div>
                </ng-template>
            </owl-carousel-o>
            <select name="orderby" class="orderby" aria-label="Đặt hàng">
                <option value="popularity">Sắp xếp theo mức độ phổ biến</option>
                <option value="rating">Sắp xếp theo xếp hạng trung bình</option>
                <option value="date" selected="selected">Sắp xếp theo mới nhất</option>
                <option value="price">Sắp xếp theo giá: thấp đến cao</option>
                <option value="price-desc">Sắp xếp theo giá: cao đến thấp</option>
            </select>
        </div>
        <section id="list-products-full">
            <div class="row" *ngIf="!checkSearchProduct">
                <div class="col medium-6 small-12 large-4" *ngFor="let product of products">
                    <div class="col-inner">
                        <div class="product has-hover">
                            <div class="box-image image-zoom">
                                <a>
                                    <img [src]="handleImage(product.picByte)" alt="">
                                    <div class="star-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="box-text text-center">
                                <p class="product-title"><a>{{product.name}}</a></p>
                                <div class="swatches">
                                    <div class="swatch">
                                        <div data-value="M" class="swatch-element plain m available">
                                            <input type="radio" value="M" checked="">
                                            <label> M </label>
                                        </div>
                                        <div data-value="M" class="swatch-element plain m available">
                                            <input type="radio" value="M" checked="">
                                            <label> L </label>
                                        </div>
                                        <div data-value="M" class="swatch-element plain m available">
                                            <input type="radio" value="M" checked="">
                                            <label> XL </label>
                                        </div>
                                        <div data-value="M" class="swatch-element plain m available">
                                            <input type="radio" value="M" checked="">
                                            <label> XXL </label>
                                        </div>
                                    </div>
                                </div>
                                <span class="price">
                                    <span class="unit-price">{{product.price}}</span>
                                    <sup>đ</sup>
                                </span>
                                <div class="add-the-cart">
                                    <a (click)="addCart(product.id)">
                                        <i class="fas fa-shopping-cart"></i>
                                        <i class="fas fa-box"></i>
                                        <span>Thêm vào giỏ</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="checkSearchProduct">
                <div class="col medium-6 small-12 large-4" *ngFor="let product of productSearch">
                    <div class="col-inner">
                        <div class="product has-hover">
                            <div class="box-image image-zoom">
                                <a>
                                    <img [src]="handleImage(product.picByte)" alt="">
                                    <div class="star-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="box-text text-center">
                                <p class="product-title"><a>{{product.name}}</a></p>
                                <div class="swatches">
                                    <div class="swatch">
                                        <div data-value="M" class="swatch-element plain m available">
                                            <input type="radio" value="M" checked="">
                                            <label> M </label>
                                        </div>
                                        <div data-value="M" class="swatch-element plain m available">
                                            <input type="radio" value="M" checked="">
                                            <label> L </label>
                                        </div>
                                        <div data-value="M" class="swatch-element plain m available">
                                            <input type="radio" value="M" checked="">
                                            <label> XL </label>
                                        </div>
                                        <div data-value="M" class="swatch-element plain m available">
                                            <input type="radio" value="M" checked="">
                                            <label> XXL </label>
                                        </div>
                                    </div>
                                </div>
                                <span class="price">
                                    <span class="unit-price">{{product.price}}</span>
                                    <sup>đ</sup>
                                </span>
                                <div class="add-the-cart">
                                    <a (click)="addCart(product.id)">
                                        <i class="fas fa-shopping-cart"></i>
                                        <i class="fas fa-box"></i>
                                        <span>Thêm vào giỏ</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <nav class="pagination">
                <ul class="page-numbers nav-pagination links text-center">
                    <li>
                        <span aria-current="page" class="page-number current">1</span>
                    </li>
                    <li>
                        <a class="page-number" href="#2">2</a>
                    </li>
                    <li>
                        <a class="page-number" href="#3">3</a>
                    </li>
                    <li>
                        <a class="page-number" href="#4">4</a>
                    </li>
                    <li>
                        <a class="page-number" href="#5">5</a>
                    </li>
                    <li>
                        <a class="next page-number" href="#2">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="large-3 col sidebar">
        <aside class="widget widget-categories">
            <h3 class="widget-title">Thể loại</h3>
            <ul  *ngFor="let category of categories">
                <li class="cat-item">
                    <a (click)="searchProductByCategory(category.id)">{{category.name}}</a>
                </li>
            </ul>
        </aside>
        <aside class="widget widget-star-rating">
            <h3 class="widget-title">ĐÁNH GIÁ</h3>
            <ul>
                <li class="cat-item">
                    <a href="">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <span class="count">(4)</span>
                    </a>
                </li>
                <li class="cat-item">
                    <a href="">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <span class="count">(4)</span>
                    </a>
                </li>
                <li class="cat-item">

                    <a href="">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <span class="count">(8)</span>
                    </a>
                </li>
                <li class="cat-item">
                    <a href="">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <span class="count">(4)</span>
                    </a>
                </li>
                <li class="cat-item">
                    <a href="">
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <span class="count">(4)</span>
                    </a>
                </li>
            </ul>
        </aside>
        <aside class="widget widget-categories">
            <h3 class="widget-title">KÍCH THƯỚC</h3>
            <ul>
                <li class="cat-item">
                    <a href="">L<span class="count">(8)</span></a>
                </li>
                <li class="cat-item">
                    <a href="">M<span class="count">(4)</span></a>
                </li>
                <li class="cat-item">
                    <a href="">S <span class="count">(8)</span></a>
                </li>
                <li class="cat-item">
                    <a href="">XL <span class="count">(4)</span></a>
                </li>
            </ul>
        </aside>
        <aside class="widget widget-tagcloud">
            <h3 class="widget-title">Từ khóa</h3>
            <div class="tagcloud">
                <a href="#/business" class="tag-cloud-link">Business</a>
                <a href="#/design" class="tag-cloud-link">Design</a>
                <a href="#/developmen" class="tag-cloud-link">Developmen</a>
                <a href="#/development" class="tag-cloud-link">Development</a>
                <a href="#/inspiration" class="tag-cloud-link">Inspiration</a>
            </div>
        </aside>
    </div>
</div>

<div class="alert" [class.visible]="isError">
    Add cart error
</div>

<div class="alert" [class.visible]="isSuccess">
    Add cart success
</div>
<!-- <div class="cart-side">
    <div class="cart-side-heading">
        <span class="cart-side-title">GIỎ HÀNG</span>
        <i class="far fa-times-circle remove close-cart-side"></i>
    </div>
    <div class="widget_shopping_cart">
        <div class="mini-cart-scroll">
            <ul class="product_list_widget" id="mini-cart">
            </ul>
        </div>
        <div class="mini-cart-total">
            <strong>
                <span>Tạm tính:</span>
                <span class="price-total">
                    <span class="total"></span>
                    <sup>đ</sup>
                </span>
            </strong>
            <a href="./thanh-toan.html" class="button secondary">
                THANH TOÁN
            </a>
            <a href="./gio-hang.html" class="button primary">
                GIỎ HÀNG
            </a>
        </div>
    </div>
</div>
<div class="cart-side-overlay"></div> -->